*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --header-font: 'IBM Plex Sans', sans-serif;
    --normal-font: 'Inter', sans-serif;

    --theme-violet: #764BA2;
    --theme-blue: #667EEA;
    --primary-black: #424242;
    --secondary-white: #F6F6F6;
}
body{
    font-family: var(--normal-font);
    background-image: linear-gradient(to right top, var(--theme-blue), var(--theme-violet));
    background-repeat: no-repeat;
    height: 100%;
}

.container{
    max-width: 1500px;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}
nav{
    min-height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
}
.nav-container{
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.nav-links-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links{
    display: flex;
    margin: 3px;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.nav-links li{
    margin: 0 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 90%;
}
.nav-links li:hover{
    opacity: 100%;
}
.nav-links a{
    text-decoration: none;
    color: var(--secondary-white);
}
.nav-hireme-btn{
    display: flex;
    padding: 0.8rem 1.8rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--secondary-white);
    font-size: 1.1rem;
    font-weight: bold;
    margin: 15px;
    letter-spacing: 2px;
    border-radius: 25px;
    background-color: var(--primary-black);
    filter: drop-shadow(0px 2px 2px #282828);
    transition: all 0.3s ease;
}
.nav-hireme-btn:hover{
    background-color: var(--secondary-white);
    color: var(--primary-black);
    filter: none;
}
.burgermenu{
    display: none;
    cursor: pointer;
}
.burgermenu div{
    width: 44px;
    height: 5px;
    border-radius: 25px;
    background-color: var(--secondary-white);
    margin: 5px;
    transition: all 0.3s ease;
}

.landing-text-area{
    display: flex;
    flex-direction: column;
    margin: 15px;
    color: var(--secondary-white);
}
.landing-text-area h1{
    font-family: var(--header-font);
    font-size: 6rem;
}
.landing-text-area p{
    font-size: 2rem;
    width: 700px;
}
.landing-hireme-btn{
    display: none;
}

.quicklink-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 560px;
    margin-top: 50px;
    margin-bottom: 58px;
}
.quicklink-cards .quicklink-card1, .quicklink-card2{
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-white);
    color: var(--primary-black);
    padding-top: 27px;
    margin: 15px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    height: 220px;
    border-radius: 25px;
    filter: drop-shadow(0px 2px 2px #282828);
}
.quicklink-card1 > h3, .quicklink-card2 > h3{
    font-family: var(--header-font);
    font-size: 1.5rem;
}
.quicklink-card1 > p, .quicklink-card2 > p{
    width: 60%;
}
.quicklink-card1 > a, .quicklink-card2 > a{
    display: flex;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--secondary-white);
    font-size: 1rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin: 15px;
    letter-spacing: 2px;
    border-radius: 25px;
    width: 80%;
    background-color: var(--theme-blue);
    filter: drop-shadow(0px 2px 2px #282828);
    transition: all 0.3s ease;
}
.quicklink-card1 > a:hover, .quicklink-card2 > a:hover{
    background-color: var(--primary-black);
    filter: none;
}

.section-header{
    grid-column-start: 1;
    grid-column-end: 3;
    text-transform: uppercase;
    font-family: var(--header-font);
}
.projects{
    background-color: var(--primary-black);
    color: var(--secondary-white);
    min-height: 115vh;
    width: 100%;
    padding-top: 60px;
}
.projects .container{
    display: grid;
    column-gap: 10px;
}
.projects .section-header{
    color: var(--secondary-white);
    font-size: 3.5rem;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 50px;
}
.project-card{
    border-radius: 25px;
    background-color: var(--secondary-white);
    color: var(--primary-black);
    display: flex;
    margin: 50px;
    width: 70%;
    text-decoration: none;
    align-self: center;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    filter: drop-shadow(0px 2px 2px #282828);
}
.project-card:hover{
    color: var(--secondary-white);
    background-color: var(--theme-violet);
    filter: drop-shadow(0px 2px 4px #282828);
}
.project-card1{
    margin: 50px 0 50px 50px;
}
.project-card2{
    margin: 50px 50px 50px 0;
}
.project-card img{
    width: 95%;
    padding-top: 10px;
}
.project-card h4, .project-card p{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 10px;
}
.project-card span{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 6px;
    font-weight: bold;
    font-size: 0.9rem;
}
.project-card h4{
    font-family: var(--header-font);
    font-size: 1.4rem;
    padding-top: 10px;
}
.project-card p{
    padding-bottom: 15px;
}

.skills{
    background-color: var(--secondary-white);
    color: var(--primary-black);
    min-height: 115vh;
    width: 100%;
    padding-top: 60px;
}
.skills .section-header{
    color: var(--primary-black);
    background: linear-gradient(to right top, var(--theme-blue), var(--theme-violet));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5rem;
    margin-top: auto;
    margin-bottom: auto;
}
.skills .sub-section-header{
    color: var(--primary-black);
    font-size: 1.1rem;
    margin-top: 6px;
    padding-bottom: 50px;
}
.skills .skill-section-container{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.skill-type{
    margin-bottom: 15vh;
}
.skill-type h5{
    font-size: 1.3rem;
    opacity: 0.5;
    margin-bottom: 50px;
}
.skill-type .skill-cards{
    display: grid;
    gap: 15px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: 60vh;
}
.skill-cards .skill-card{
    background-color: var(--secondary-white);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    text-align: center;
    filter: drop-shadow(0px 2px 2px #282828);
}
.skill-cards .skill-card img{
    width: 69%;
}
.frontend-ui-skill .skill-cards{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.frontend-ui-skill .skill-cards .skill-card:nth-of-type(5){
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
}
.frontend-ui-skill .skill-cards .skill-card:nth-of-type(5) img{
    height: 85%;
    width: auto;
}
.frontend-technologies-skill .skill-cards{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.frontend-technologies-skill .skill-cards .skill-card:nth-of-type(1){
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}
.frontend-technologies-skill .skill-cards .skill-card:nth-of-type(2){
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
}
.backend-technologies-skill .skill-cards{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.backend-technologies-skill .skill-cards .skill-card:nth-of-type(5){
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}
.backend-technologies-skill .skill-cards .skill-card:nth-of-type(5) img{
    width: 85%;
}
.cloud-providers-skill .skill-cards{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.cloud-providers-skill .skill-cards .skill-card:nth-of-type(1){
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}
.cloud-providers-skill .skill-cards .skill-card:nth-of-type(2){
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
}

.about{
    color: var(--secondary-white);
    min-height: 80vh;
    width: 100%;
    padding-top: 60px;
    text-align: center;
}
.about .section-header{
    font-size: 3.5rem;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 50px;
}
.about p{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.contact{
    background-color: var(--primary-black);
    color: var(--secondary-white);
    min-height: 60vh;
    width: 100%;
    padding-top: 60px;
}
.contact .container{
    width: 80%;
}
.contact h4{
    font-family: var(--header-font);
    font-size: 2.5rem;
    padding-top: 50px;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.contact .contact-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    margin-top: 50px;
    width: 40%;
    padding-bottom: 20vh;
}
.contact .contact-info h4{
    text-align: left;
    opacity: 0.7;
    margin-left: 0;
}
.contact .contact-info span{
    font-size: 1.1rem;
    margin-top: 15px;
    margin-left: 120px;
}
.contact-hireme-btn{
    display: flex;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-black);
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    letter-spacing: 2px;
    border-radius: 25px;
    width: 60%;
    height: 70px;
    background-color: var(--secondary-white);
    filter: drop-shadow(0px 2px 2px #282828);
    transition: all 0.3s ease;
    margin-bottom: 25px;
}
.contact-hireme-btn:hover{
    background-color: var(--theme-violet);
    color: var(--secondary-white);
    filter: none;
}
.contact .credits{
    text-align: center;
    padding-bottom: 50px;
    font-size: 1.1rem;
}
.contact .credits p{
    margin: 10px;
}
.contact .credits .cpyrt{
    opacity: 0.7;
}





@media screen and (max-width: 970px) {
    body{
        overflow-x: hidden;
    }
    nav{
        min-height: 15vh;
    }
    .nav-links{
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        background-color: #292929;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        color: azure;
        justify-content: space-around;
        margin: 0;
        transform: translateX(100%);
        z-index: 1;
        display: none;
    }
    .nav-container{
        width: 90%;
    }
    .nav-links a{
        color: azure;
    }
    .nav-hireme-btn{
        display: none;
    }
    .burgermenu{
        display: block;
        z-index: 1;
    }

    .nav-active{
        transform: translateX(0%);
        display: flex;
        overflow-y: hidden;
    }
    .toggle .burgerline1{
        transform: rotate(-45deg) translate(-5px, 8px);
    }
    .toggle .burgerline2{
        opacity: 0;
    }
    .toggle .burgerline3{
        transform: rotate(45deg) translate(-5px, -8px);
    }

    .landing-text-area{
        margin-left: auto;
        margin-right: auto;
    }
    .landing-text-area h1{
        font-size: 2rem;
        margin-left: 30px;
        margin-bottom: 15px;
    }
    .landing-text-area p{
        width: 70%;
        font-size: 1rem;
        margin-left: 30px;
    }
    .landing-hireme-btn{
        display: flex;
        padding: 0.5rem 1.5rem;
        text-decoration: none;
        text-transform: uppercase;
        color: var(--secondary-white);
        font-size: 2rem;
        font-weight: bold;
        align-items: center;
        justify-content: center;
        margin-left: 30px;
        margin-top: 30px;
        letter-spacing: 2px;
        border-radius: 25px;
        width: 60%;
        height: 70px;
        background-color: var(--primary-black);
        filter: drop-shadow(0px 2px 2px #282828);
        transition: all 0.3s ease;
        margin-bottom: 25px;
    }
    .landing-hireme-btn:hover{
        background-color: var(--secondary-white);
        color: var(--primary-black);
        filter: none;
    }

    .quicklink-cards{
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .quicklink-card1, .quicklink-card2{
        width: 85%;
    }
    .quicklink-card1 > p, .quicklink-card2 > p{
        width: 50%;
    }

    .projects{
        min-height: 140vh;
    }
    .projects h2{
        margin-left: 30px;
    }
    .project-card{
        grid-column-start: 1;
        grid-column-end: 3;
        margin: 0;
        margin-top: 50px;
        width: 85%;
    }
    .project-card2{
        margin-bottom: 20px;
    }
    .project-card p{
        width: 95%;
    }

    .skills .section-header, .skills .sub-section-header{
        margin-left: 30px;
    }
    .skill-type .skill-cards{
        width: 86%;
        min-height: 70vh;
    }
    .skill-type h5{
        margin-left: 30px;
        font-size: 1.1rem;
    }
    .frontend-ui-skill .skill-cards{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .frontend-ui-skill .skill-cards .skill-card:nth-of-type(5){
        grid-column: 1 / span 2;
        grid-row: 3 / span 2;
    }
    .frontend-technologies-skill .skill-cards{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .frontend-technologies-skill .skill-cards .skill-card:nth-of-type(1){
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }
    .frontend-technologies-skill .skill-cards .skill-card:nth-of-type(2){
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }
    .backend-technologies-skill .skill-cards{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .backend-technologies-skill .skill-cards .skill-card:nth-of-type(5){
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }
    .backend-technologies-skill .skill-cards .skill-card:nth-of-type(5) img{
        height: 85%;
    }
    .cloud-providers-skill .skill-cards{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .cloud-providers-skill .skill-cards .skill-card:nth-of-type(1){
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }
    .cloud-providers-skill .skill-cards .skill-card:nth-of-type(2){
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    .about{
        min-height: 115vh;
        padding-bottom: 50px;
    }
    .about h2{
        margin-left: 30px;
        text-align: left;
    }
    .about p{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.1rem;
        letter-spacing: 1px;
        margin-bottom: 70px;
    }

    .contact{
        text-align: center;
    }
    .contact .container {
        width: 85%;
    }
    .contact h4{
        width: 100%;
        font-size: 2rem;
    }
    .contact .contact-info{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .contact-info h4{
        font-size: 1.3rem;
        text-align: center;
        width: 100%;
    }
    .contact .contact-info span{
        margin-left: 0;
    }
    .contact-hireme-btn{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    .contact .credits{
        font-size: 0.8rem;
    }
}